.footer__column_content_copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    flex-basis: 711px;
   }

   .footer__column_content_info{
    display:flex;
flex-direction: column;
justify-content: unset;
  }

  .footer__column_content_social{
    display:flex;
   flex-direction: column;
   justify-content: unset;
  }